main {
  background-color: cornsilk;
  font-family:'Courier New', Courier, monospace ;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
  border: 15px blue dotted;
}

#contador {
  font-size: 75px;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;  
}

button {
  padding: 15px;
  margin: 25px;
  border: 12px darkblue double;
  border-radius: 33%;
  font-size: x-large;
  background-color: lightgray;
  cursor: pointer;
  color: darkslategray;
  font-weight: bold;  

}